@charset "utf-8";

:root {
  --color1: #BFB936;
  --color2: #C9B438;
  --color3: #B3963B;
  --color4: #C99738;
  --color5: #BF7F36;
  --color6: #2659A6;
  --color7: #689FF2;
  --font_especial: 'Lora', serif;
  --font_padrao: 'Open Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: var(--font_especial);
}

html {
  scroll-top: 0;
  -webkit-user-scalable: none;
  -moz-user-scalable: none;
  -ms-user-scalable: none;
  user-scalable: none;
  
}

header {
  background-image: url(img/exem-map.jpeg);
  height: 40vh;
  background-size: cover;
  background-position: center center;
}

div#div_header {
  display: flex;
  justify-content: center;
}

span.material-symbols-outlined {
  color: white;
  background-color: gray;
  font-size: 10vw;
  border-radius: 50px;
  box-shadow: 3px 3px 5px rgba(45, 45, 45, 0.324);
}

span#star_icon, span#buscar_icon {
  color: black;
  background-color: white;
  padding: 3px;
  margin: 3px;
}

#voltar {
  border-radius: 100%;
}

#direita {
  display: block;
  text-align: right;
  margin-left: auto;
}

#busca_div > input{
  display: none;
  outline: none;
  margin-top: 12px;
  border: 1.7px solid rgb(119, 119, 119);
  height: 8vw;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px;
  width: 120%;
}
input {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-scalable: none;
  -moz-user-scalable: none;
  -ms-user-scalable: none;
  user-scalable: none;
}
span#fullscreen {
  position: absolute;
  bottom: calc(61vh);
  right: 0;
  margin-right: 8px;
}

input:active, input:focus {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#busca_div > ul{
    display: none;
    list-style: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}
#busca_div > ul > li > a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#busca_div > ul > li{
    margin-top: 10px;
}
#busca_div > ul{
  width: 120%;
}

#esquerda{
  display: block;
  text-align: left;
  margin-left: 5px;
  margin-right: 30px;
}

#icon_sugestao{
    background-color: white;
    color: #B3963B;
    box-shadow: none;
    font-size: 5vw;
}
#savings_icon{
    color: #38C97D;
    background-color: white;
}