@charset "utf-8";

:root {
    --color1: #BFB936;
    --color2: #C9B438;
    --color3: #B3963B;
    --color4: #C99738;
    --color5: #BF7F36;
    --color_luiz: #32B0EA;
    --color_eduardo: #EB495E;
    --color_rodrigo: #EBE21A;
    --font_especial: 'Lora', serif;
    --font_padrao: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
}

header > ul{
    display: flex;
    text-decoration: none;
}

header > ul > li > a{
    text-decoration: none;
    font-family: var(--font_especial);
    color: black;
    font-size: 2.0em;
}

li {
    list-style-type: none;
}

li#esquerda{
    float: left;
    padding-right: 200px;
}
li#home{
    float: right;
    margin: auto;
}
li#loja{
    float: right;
    margin: auto;
}

span.material-symbols-outlined {
    font-size: 30px;
    color: black;
}

hr{
    margin-bottom: 30px;
}
div#luiz{
    background-color: var(--color_luiz);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    color: white;
    font-family: var(--font_especial);
}
#foto1{
    width: 75vw;
    display: block;
    margin: auto;
    padding: 10px;
}
div#luiz h1{
    padding: 10px;
    text-align: left;
    font-size: 1.8em;
}

div#luiz p{
    padding: 10px;
    text-align: left;
    font-size: 1.8em;
}