@charset "utf-8";

:root {
    --color1: #312bd9;
    --color2: #201c8c;
    --color3: #312f59;
    --color4: #5b7ad9;
    --color5: #d96666;
    --font_especial: 'Lora', serif;
    --font_padrao: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}