@charset "utf-8";

:root {
    --color1: #BFB936;
    --color2: #C9B438;
    --color3: #B3963B;
    --color4: #C99738;
    --color5: #BF7F36;
    --color6: #2659A6;
    --color7: #689FF2;
    --font_especial: 'Lora', serif;
    --font_padrao: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    font-family: var(--font_especial);
    text-align: center;
}

header{
    background-image: url("../../img/globo.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding-bottom:50px;
    padding-top: 50px;
    color: white;
}

header h1{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.485);
}

header > p {
    font-family: var(--font_padrao);
    font-size: 0.7em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.499);
    color: white;
}

.material-symbols-outlined{
    color: var(--color4);
}
nav {
    margin-top: 10px;
}

nav > ul{
    display: flex;
}

menu{
    margin-bottom: 40px;
}

menu li{
    display: inline;
    margin: auto;
}
menu a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

div#busca_barraca > a{
    text-decoration: none;
    border: 1px solid var(--color5);
    color: var(--color2);
    padding: 15px 50px;
    display: block;
    width: 300px;
    margin: auto;
}
div#busca_barraca > div {
    background-color: rgb(240, 240, 240);
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
    width: 60vw;
    height: 199px;
    display: none;
    border-radius: 15px;
}
form.form{
    text-align:center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
button{
    margin: auto;
    text-align: center;
    width: 30vw;
    margin-top: 20px;
    background-image: linear-gradient(to right, var(--color4), var(--color5));
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    font-family: var(--font_especial);
    color: rgb(247, 247, 247);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
}
form > label{
    padding:4px;
}
#centralizar_filtro{
    align-items: center;
    display: inline-block;
}

.itens {
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    height: 200px;
    box-shadow: 5px 5px 10px #b3973b46;
    margin-bottom: 25px;
}

.itens h2 {
    text-align: center;
    padding-top: 90px;
    margin-top: 30px;
    color: white;
    font-size: 2em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}
#barracas{
    margin: 10px;
    margin-top: 30px;
    display: inline-block;
}
#exemplo_logo{
    width: 35vw;
}
#barracas_sem_acucar1 > #titulo_acucar{
    color: rgb(48, 48, 48);
    font-size: 2.0em;
    font-family: var(--font_especial);
    text-align: left;
    padding: 10px;
}
#busca_barraca_filtro{
    display: none;
}
#barracas_sem_acucar1{
    display: none;
}
.bar_acucar_1{
    background-image: linear-gradient(45deg, rgba(201, 201, 201, 0.329), rgba(126, 126, 126, 0.329));
    width: 80vw;
    display: flex;
    height: 100px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
    margin-top: 30px;


}

#info_bar_acucar{
    font-size: 0.9em;
    padding: 6px;
    font-family: var(--font_especial);
    font-weight: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.685);
    display: block;
    padding-left: 100px;
}
.esquerda{
    display: block;
    margin-left: -90px;
}
#info_bar_acucar > .esquerda p{
    font-family: var(--font_padrao);
    margin-right: -25px;
}
#info_bar_acucar  > .esquerda a{
    text-decoration: none;
    color: var(--color3);
    font-weight: lighter;
    font-size: 14px;
    white-space: nowrap;
    display: block;
    margin-top: 20px;
}
.bar_acucar_class > img{
    display: flex;
    text-align: left;
    padding: -10px;
    border-radius: 10px;
}


div#brownie{
    margin-top: 70px;
    background-image: url("../../img/Brownie.jpg");
    background-size: cover;
    background-position: center center;
}
div#mousse{
    background-image: url("../../img/mousse.jpg");
    background-size: cover;
    background-position: center center;
}
div#bolo{
    background-image: url("../../img/bolo.jpg");
    background-size: cover;
    background-position: center center;
}
div#cookie{
    background-image: url("../../img/cookie.jpg");
    background-size: cover;
    background-position: center center;
}

footer{
    background-color: rgb(12, 12, 12);
    height: 40px;
}
footer > a{
    color: var(--color5);
    text-shadow: 0px 0px 2px var(--color5);
    text-decoration: none;
    margin: auto;
}
#buscar{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: white;
  
}
form {
    --text: #414856;
    --radio: #7C96B2;
    --radio-checked: #4F29F0;
    --radio-size: 20px;
    --width: 45vw;
    --height: 110px;
    --border-radius: 10px;
    background: var(--background);
    width: 140px;
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding-top: 0px;
    display: grid;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
    margin: auto;
  }

.form > label {
    margin: 0px;
    text-align: left;
    display: block;
    cursor: pointer;
}
.form form{
    padding:4px;
}
  
  .form input[type="radio"] {
    --webkit-appearance: none;
    --moz-appearance: none;
    position: relative;
    height: var(--radio-size);
    width: var(--radio-size);
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--radio);
    background: transparent;
    border-radius: 50%;
    display: grid;
    justify-self: end;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: border .5s ease;
  }
  .form input[type="radio"]::before, .form input[type="radio"]::after {
    content: "";
    display: flex;
    justify-self: center;
    border-radius: 50%;
  }
  
  .form input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 1;
    opacity: var(--opacity, 1);
  }
  
  .form input[type="radio"]::after {
    position: relative;
    width: calc(100% /2);
    height: calc(100% /2);
    background: var(--radio-checked);
    top: var(--y, 100%);
    transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
  }
  
  .form input[type="radio"]:checked {
    --radio: var(--radio-checked);
  }
  
  .form input[type="radio"]:checked::after {
    --y: 0%;
    animation: stretch-animate .3s ease-out .17s;
  }
  
  .form input[type="radio"]:checked::before {
    --opacity: 0;
  }