@charset "utf-8";

:root {
    --color1: #BFB936;
    --color2: #C9B438;
    --color3: #B3963B;
    --color4: #C99738;
    --color5: #BF7F36;
    --font_especial: 'Lora', serif;
    --font_padrao: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    font-family: var(--font_especial);
    text-align: center;
}

header{
    background-image: url("../../img/globo.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding-bottom:50px;
    padding-top: 50px;
    color: white;
}

header h1{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.485);
}

header > p {
    font-family: var(--font_padrao);
    font-size: 0.7em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.499);
    color: white;
}

.material-symbols-outlined{
    color: var(--color4);
}
nav {
    margin-top: 10px;
}

nav > ul{
    display: flex;
}
li a{
    display: flex;
    gap: 2rem;
    position: relative;
}

li a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}
li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

menu{
    margin-bottom: 40px;
}

menu li{
    display: inline;
    margin: auto;
}
menu a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

div#busca_barraca > a{
    text-decoration: none;
    border: 1px solid var(--color5);
    color: var(--color2);
    padding: 15px 90px;
}

.itens {
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    height: 200px;
    box-shadow: 5px 5px 10px #b3973b46;
    margin-bottom: 25px;
}

.itens h2 {
    text-align: center;
    padding-top: 90px;
    margin-top: 30px;
    color: white;
    font-size: 2em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}

div#brownie{
    margin-top: 40px;
    background-image: url("../../img/Brownie.jpg");
    background-size: cover;
    background-position: center center;
}
div#mousse{
    background-image: url("../../img/mousse.jpg");
    background-size: cover;
    background-position: center center;
}
div#bolo{
    background-image: url("../../img/bolo.jpg");
    background-size: cover;
    background-position: center center;
}
div#cookie{
    background-image: url("../../img/cookie.jpg");
    background-size: cover;
    background-position: center center;
}

footer{
    background-color: rgb(12, 12, 12);
    height: 40px;
}
footer > a{
    color: var(--color5);
    text-shadow: 0px 0px 2px var(--color5);
    text-decoration: none;
    margin: auto;
}